/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color:yellow;
  margin: 0;
  padding: 0;
}
#outer-box{
  background-color: darkmagenta;
  padding:10x;
}
.inner-box{
  background-color: red;
  margin: 0px;
}
.white-text{
  color: white;
}
