/* Write your code here: */
/*first type:group selector*/
h1,h2{
    color:blueviolet
}
/*child selector*/
.box > p{
    color:firebrick;
}
/*decendent method grandchild every child can be accesed*/
.box li{
    color:aquamarine;
}
/*chainling*/
li.done{
    color:seagreen;
}
/*combining all*/
ul p.done{
    font-size: 0.5rem;
}